body{
  background: url(images/bg_bad_5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-family: "Avenir Next", Helevetica, sans-serif;
  text-align: center;
  font-size: 36px;
  color: #FFFFFF;
  text-shadow:1px 1px 1px #000000;
  padding-top: 30px;
}

.banner{
  font-family: "Avenir Next", Helevetica, sans-serif;
  text-align: center;
  font-size: 16px;
  color: #000000;
  background-color: #DDDDDD;
  opacity: .8;
  line-height: 40px;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  height: 40px;
}

.container {
  background-color: #FFFFFF;
  opacity: .95;
  font-family: "Avenir Next", Helevetica, sans-serif;
  position: absolute;
  top: 20%;
  left: 50%;
  height: 100px;
  width: 500px;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 1px 6px rgba(0,0,0,.04);
}

.contentbody {
  color: #333333;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  outline: 0px solid transparent;
}
