html {
  height: 100%;
}

body {
  background: 
  -webkit-linear-gradient(rgba(135, 60, 255, 0.4), rgba(135, 60, 255, 0.0) 80%),
  -webkit-linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 75%);
}

h1{
  font-family: "Avenir Next", Helevetica, sans-serif;
  text-align: center;
  font-size: 36px;
  color: #FFFFFF;  
  padding-top: 30px;
}

.banner{
  font-family: "Avenir Next", Helevetica, sans-serif;
  text-align: center;
  font-size: 16px;
  color: #000000;
  background-color: #FFFFFF;
  line-height: 40px;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  height: 40px;
}

.container {
  background-color: #FFFFFF;
  font-family: "Avenir Next", Helevetica, sans-serif;
  margin: 0 auto;
  height: 100px;
  width: 500px;
  border-radius: 3px;
  box-shadow: 0 1px 6px rgba(0,0,0,.04);
}

.contentbody {
  color: #333333;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}

.buttoncontainer {
  position: absolute;
  top: 30%;
  left: 50%;
  height: 100px;
  width: 500px;
  transform: translateX(-50%) translateY(-50%);
}

.button {
  width: 500px;
  padding:20px 60px;
  outline: none;
  background-color: #E74C3C;
  border: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 18px;
  color: #FFFFFF;
}

.button:hover{
  background-color: #C0392B;
}

.button:active {
  background-color: #C0392B;
  transform: translateY(2px);
}

.prints {
  font-family: "Avenir Next", Helevetica, sans-serif;
  font-size: 18px;
  color: #000000;
  display: inline-block; 
  border: 1px; 
  width: 280px;
  height: 100px;
  background: #FFFFFF;
  padding: 10px;
  vertical-align: top;
  border-radius: 3px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 1px;

}

.journals{
  margin: auto;
  position: absolute;
  top: 40%; 
  left: 0%; 
  bottom: 0%; 
  right: 0%;
  background: none;
  width: 620px;    
}

/*body{
  background: url(images/bg_bad_5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
